.App {
	text-align: center;
}

/* Footer Formatting */
:root {
	--mainColor: #2b2b2b;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}

.footer-text {
	margin: 5px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.footer-text a {
	background: linear-gradient(
		to bottom,
		var(--mainColor) 0%,
		var(--mainColor) 100%
	);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 2px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	transition: background-size 0.4s;
}

.footer-text a:hover {
	background-size: 4px 50px;
}

.footer-text a:nth-child(2) {
	color: inherit;
	text-decoration: none; /* no underline */
	color: white;
	border-bottom: 0;
	background: none;
}

.footer-text img {
	max-width: 18px;
	transition: all 0.5s;
	vertical-align: middle;
}

.footer-text img:hover {
	transform: scale(0.8);
}

.toggle input {
	height: 40px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 40px;
} 
.toggle-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
}


.toggle {
	position: relative;
	display: inline-block;
}
label.toggle-item {
	width: 6em;
	background: #2e394d;
	height: 2em;
	display: inline-block;
	border-radius: 50px;
	margin: 10px;
	position: relative;
	transition: all 0.3s ease;
	transform-origin: 20% center;
	cursor: pointer;
}
label.toggle-item:before {
	display: block;
	transition: all 0.2s ease;
	width: 2.3em;
	height: 2.3em;
	top: 0.25em;
	left: 0.25em;
	border-radius: 2em;
	border: 2px solid #88cf8f;
	transition: 0.3s ease;
}
.normal label {
	background: #af4c4c;
	border: 0.5px solid rgba(117, 117, 117, 0.31);
	box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2),
		0 -3px 4px rgba(0, 0, 0, 0.15);
}
.normal label:before {
	border: none;
	width: 1.5em;
	height: 1.5em;
	box-shadow: inset 0.5px -1px 1px rgba(0, 0, 0, 0.35);
	background: #fff;
	transform: rotate(-25deg);
}
.normal label:after {
	background: transparent;
	height: calc(100% + 8px);
	border-radius: 30px;
	top: -5px;
	width: calc(100% + 8px);
	left: -4px;
	z-index: 0;
	box-shadow: inset 0px 2px 4px -2px rgba(0, 0, 0, 0.2),
		0px 1px 2px 0px rgba(151, 151, 151, 0.2);
}
#normal:checked + label {
	background: #4caf50;
}
#normal:checked + label:before {
	left: 67px;
}

*:before,
*:after {
	content: '';
	position: absolute;
}
