/* /src/index.css */
@tailwind base;
@tailwind components;

@font-face {
	font-family: 'SourceSansPro';
	font-weight: 400;
	src: url('./assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceSansPro';
	font-weight: 300;
	src: url('./assets/fonts/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceSansPro';
	font-weight: 600;
	src: url('./assets/fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceSansPro';
	font-weight: 700;
	src: url('./assets/fonts/SourceSansPro-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'SourceSansPro';
	font-weight: 900;
	src: url('./assets/fonts/SourceSansPro-Black.ttf') format('truetype');
}

@tailwind utilities;
